ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    position: absolute;
    color: white;
    margin-top: 50px;
    align-items: center;
}

ul li:first-child {
    font-size: 26px;
    user-select: none;
}

ul li a {
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

ul li a:hover {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}